.ComingSoon {
  z-index:2;
  text-align:center;
  margin-top:15%;
}
  .ComingSoon h1 {
    font-size:300%;
    font-weight: 600;

  }
  .ComingSoon i {
    font-size: 2em;
    font-weight: 100;

  }
.jordanRight {
  z-index:1;
  margin:0;padding:0;border:0;
  float:right;
  margin-right:-8px;
  margin-top:-20%;
}
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
.ComingSoon h1 {
  font-size:200%;
  font-weight: 600;

}
.ComingSoon i {
  font-size: 1.5em;
  font-weight: 100;

}
}
